<app-navbar></app-navbar>
<div class="collection-page">
    <div class="top-infos">
        <h2 class="collection-name">Showing items from collection <span>{{ collectionName }}</span>!</h2>
    </div>
    <div class="game-grid">
        <div *ngFor="let gameID of pageCollection" class="game-card">
            <img [src]="getGameImage(gameID)" alt="game-image">
            <p>{{getGameName(gameID)}}</p>
            <button class="add-button" (click)="removeGame(gameID)">-</button>
        </div>
    </div>
</div>
<app-footer></app-footer>