<app-navbar></app-navbar>
<div class="collection-page">
    <div class="top-infos">
        <h2 class="collection-name">Showing items from collection <span>{{ collectionName }}</span>!</h2>
    </div>
    <div class="game-grid">
        <div *ngFor="let game of pageCollectionGames" class="game-card">
            <img [src]="game.background_image" alt="game-image">
            <p>{{game.name}}</p>
            <button class="add-button" (click)="removeGame(game.id)">-</button>
        </div>
    </div>
</div>
<app-footer></app-footer>