<app-navbar></app-navbar>
<div class="search-page">
    <div class="top-infos">
        <h2>Search for any game you want and add it to any collection</h2>
        <input type="text" (input)="getSearchResults()" [(ngModel)]="searchText" placeholder="search for a game...">
    </div>
    <div class="game-grid">
        <div *ngFor="let game of searchResults" class="game-card">
            <img src={{game.background_image}} alt="game-image">
            <p>{{ game.name }}</p>
            <button class="add-button" (click)="openAddPage(game)">+</button>
        </div>
    </div>
</div>

<div *ngIf="searchPageContainer" class="add-page">
    <div class="add-page-content">
        <span>Choose a collection to add this game</span>
        <div class="add-page-form">
            <select [(ngModel)]="selectedCollection">
                <option *ngFor="let collection of collectionList" [value]="collection.id">{{ collection.name }}</option>
            </select>
            <button class="btn-add-page green" (click)="addGame()">Add!</button>
            <button class="btn-add-page red" (click)="searchPageContainer = false">Close</button>
        </div>
    </div>
</div>
<app-footer></app-footer>